{% extends 'template.html' %}

{% block Header %}<h3>Login</h3>{% endblock %}

{% block content %}

{% if error != '' %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
        {{ error }}
    </div>
</div>
{% endif %}

<form action="/login" method="post" >
    <label class="m-2">Email ID</label>
    <input type="email" class="form-control" name="email" placeholder="email">
    <label class="m-2">Password</label>
    <input type="password" class="form-control" name="password" placeholder="password">
    <button type="submit" class="btn btn-primary btn-block m-2"> Login </button>
</form>

Not yet <a class="m-1" href="/Signup">Registered</a> ?
<br>
Return to <a class="m-1" href="/">Home</a> ?
{% endblock %}